<div>
    <input type="text" id="filterText" [(ngModel)]="filterText" placeholder="Arama metni giriniz" class="form-control">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Seçenekler</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands|brandsFilter:filterText">
                <td>{{brand.id}}</td>
                <td>{{brand.name}}</td>
                <td>
                    <app-update-brand [currentBrandFromParent]="brand"></app-update-brand>
                </td>
            </tr>
        </tbody>
    </table>
</div>