<div>
    <app-brand-and-color-select-option-car-filter></app-brand-and-color-select-option-car-filter>
    <div class="row d-flex justify-content-between">
        <div class="card mt-4" style="width: 19rem;" *ngFor="let carDetailDTO of carDetailDTOs">
            <div class="card-body">
                <h5 class="card-title">{{carDetailDTO.name}}</h5>
                <p class="card-text">{{carDetailDTO.description}}.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{carDetailDTO.brandName}}</li>
                <li class="list-group-item">{{carDetailDTO.colorName}}</li>
                <li class="list-group-item"><strong>{{carDetailDTO.dailyPrice|currency}}</strong></li>
            </ul>
            <div class="card-body row">
                <button class="btn btn-info col" (click)="routeToCarDetailById(carDetailDTO.id)">Detaylar</button>
                <button class="btn btn-success col ms-3">Kirala</button>
            </div>
        </div>
    </div>
</div>