<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>İsim Soyisim</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rentalDetailDTO of rentalDetailDTOs">
            <td>{{rentalDetailDTO.id}}</td>
            <td>{{rentalDetailDTO.brandName}}</td>
            <td>{{rentalDetailDTO.fullName}}</td>
            <td>{{rentalDetailDTO.rentDate}}</td>
            <td>{{rentalDetailDTO.returnDate}}</td>
        </tr>
    </tbody>
</table>